<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
        <remove name="Default" />
      </listeners>
    </trace>
    <sharedListeners>
    </sharedListeners>
  </system.diagnostics>

  <appSettings>
    <add key="DataFilePath" value="Data" />
    <add key="DBTemplateFolder" value="Template" />
    <add key="OutputFolder" value="Output" />
    <add key="InCsvFileName" value="exportSales.csv" />
    <add key="ClientTableName" value="Clienti_01-03-2018_31-03-2018_3346.DBF" />
    <add key="InvoiceTableName" value="Invoice.dbf" />
    <add key="TraceFile" value="Import.log" />
    <add key="TraceFileMaxSize" value="50000000" />
  </appSettings>
  
</configuration>
